body{

background: radial-gradient(circle at center,#020b05,#000000);

color:#00ff9c;

font-family:Orbitron, Arial;

text-align:center;

margin:0;

}

.container{

padding-top:40px;

}

.title{

letter-spacing:5px;

text-shadow:0 0 20px #00ff9c;

}

.panel{

margin:25px;

}

.btn{

padding:12px 22px;

margin:10px;

border-radius:10px;

border:none;

font-size:15px;

cursor:pointer;

transition:0.3s;

}

.bluetooth{

background:#0066ff;

color:white;

box-shadow:0 0 10px #0066ff;

}

.bluetooth:hover{

box-shadow:0 0 20px #0066ff;

transform:scale(1.1);

}

.color{

background:#00aa55;

color:white;

box-shadow:0 0 10px #00ff88;

}

.color:hover{

box-shadow:0 0 20px #00ff88;

transform:scale(1.1);

}

.radar-frame{

display:flex;

justify-content:center;

margin-top:30px;

border:2px solid #00ff9c;

border-radius:20px;

padding:20px;

width:820px;

margin-left:auto;

margin-right:auto;

box-shadow:0 0 40px #00ff9c;

background:rgba(0,0,0,0.6);

}
